:root
{
    --primary: #00446B;    
    --accent-color: #D8076B;
    --accent-color-2: #D6CF02;
    --white: #fff;
    --black: #000;

    --gap: 8px;
    --padding-inline: 10%;

    --bold: 500;
}

html
{
    scroll-behavior: smooth;
}

:target
{
    scroll-margin-top: 100px;
}