.menu_sect
{
    display: grid;
    border-radius: var(--gap);
    background-color: var(--white);
    grid-template-rows: 0fr;
    visibility: hidden;

    position: absolute;
    z-index: 3;

    position-anchor: --menu;

    top: anchor(bottom);
    left: anchor(left);

    transition: 300ms ease-out;
    transition-property: grid-template-rows, visibility;
}

.menu_sect ul
{
    overflow: hidden;
    min-height: 0;
}

.menu_sect ul li
{
    padding: calc(var(--gap) * 2) calc(var(--gap) * 6) calc(var(--gap) * 2) calc(var(--gap) * 2);
    transition: opacity 300ms ease;
}

header
{
    position: relative;
}

.nav_logo
{
    display: flex;
    height: 82px;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-inline);
}

.menu
{
    display: none;
    position: absolute;
    height: 30px;
    aspect-ratio: 1;
    left: var(--padding-inline);
    top: var(--gap);

    anchor-name: --menu;
}

.menu_x
{
    padding: var(--gap);
}

.logo
{
    height: 100%;
    max-height: 50px;
}

.container_form_nav
{
    display: flex;
    align-items: center;
    height: 100%;

    gap: calc(var(--gap) * 4);

    --form-height: 40%;
    --max-height: 32.8px;
}

.wrapper_drop
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper_drop select
{
    height: var(--form-height);
    max-height: 50px;
    border-radius: 0 var(--gap) var(--gap) 0;
    box-shadow: 1px 1px 10px hsl(from var(--accent-color) h s calc(l - 20) / 0.25);
    padding: 0 var(--gap);

    cursor: pointer;

    field-sizing: content;
}

.wrapper_drop select:focus
{
    outline: none;
}

.wrapper_icon
{
    height: var(--form-height);
    max-height: var(--max-height);
    background-color: var(--accent-color);
    aspect-ratio: 1;
    padding: var(--gap);
    border-radius: var(--gap) 0 0 var(--gap);
}

.button_form_nav
{
    display: flex;
    background-color: var(--accent-color);
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--gap) / 2) var(--gap);
    height: var(--form-height);
    max-height: var(--max-height);
    width: 175px;
    border-radius: var(--gap);

    cursor: pointer;

    transition: opacity 300ms ease;
}

.button_form_nav:hover, .menu_sect ul li:hover
{
    opacity: 0.8;
}

.button_form_nav span
{
    text-align: center;
    flex-grow: 1;
    color: var(--white);
    font-weight: var(--bold);
}

.button_form_nav img
{
    height: 20px;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 52px;
    background-color: var(--primary);
    color: var(--white);
    outline: 1px solid var(--accent-color);

    gap: calc(var(--gap) * 4);
    padding: var(--gap) var(--padding-inline);
}

nav img, nav a
{
    height: 100%;
}

nav ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap);
    padding-inline: calc(var(--gap) * 2);
    font-size: 1rem;
    font-weight: var(--bold);
}

nav ul li
{
    transition: color 300ms ease;
}

nav ul li:hover
{
    color: hsl(from var(--white) h s l / 0.8);
}

.clube
{
    color: var(--accent-color-2);
}

.clube:hover
{
    color: hsl(from var(--accent-color-2) h s l / 0.8);
}

.a
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;

    font-size: 1.15rem;
    font-weight: var(--bold);

    color: var(--black);
    background-color: var(--white);
    border-radius: 50%;
}

.hero
{
    height: 500px;
    background: url(../images/demon-slayer.jpg) no-repeat center / cover;
}

.cartaz
{
    display: grid;

    grid-template-rows: auto 1fr;

    place-items: initial;

    padding-inline: var(--padding-inline);
    margin-block: calc(var(--gap) * 4);
}

.sections
{
    grid-row: 1;
    z-index: 2;
    display: flex;
}

.sections a
{
    padding: calc(var(--gap) * 2) calc(var(--gap) * 4);
    background-color: var(--sect-colors);
    text-transform: capitalize;
    font-size: 1.25rem;
    border-radius: var(--gap) var(--gap) 0 0;
}

.eC, .eB
{
    transition: 300ms ease;
    transition-property: color, background-color;
}

.eC
{
    --sect-colors: var(--accent-color);
    color: var(--white);
}

.eB
{
    --sect-colors: transparent;
    color: var(--black);
}

.em-cartaz, .em-breve
{
    grid-area: 1 / 1;
    grid-row: 2;

    width: 100%;
    height: fit-content;
    background-color: var(--accent-color);
    padding: calc(var(--gap) * 4);

    display: grid;
    gap: calc(var(--gap) * 3);
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: repeat(6 ,1fr);
    border-radius: 0 var(--gap) var(--gap) var(--gap);

    transition: opacity 300ms ease-in-out, visibility 400ms ease-in-out;
}

.em-breve
{
    background-color: var(--accent-color-2);
    border-radius: var(--gap);

    opacity: 0;
    visibility: hidden;
}

.em-breve .wrapper_card
{
    box-shadow: -10px 10px var(--accent-color);
}

.em-cartaz .wrapper_card
{
    box-shadow: -10px 10px var(--accent-color-2);
}

.wrapper_card
{
    height: 100%;
    aspect-ratio: 11 / 16;
    border-radius: calc(var(--gap) / 2);

    grid-column: span 1;
}

.uma-batalha
{
    background: url(../images/uma-batalha-apos-outra_poster.jpg) no-repeat center / cover;
}

.kimetsu
{
    background: url(../images/demon-slayer_poster.jpg) no-repeat center / cover;
}

.invocacao
{
    background: url(../images/invocação-do-mal_poster.jpg) no-repeat center / cover;
}

.coracao-de-lutador
{
    background: url(../images/emBreve/coracao-de-lutador.jpg) no-repeat center / cover;
}

.gaby
{
    background: url(../images/emBreve/a-casa-magica-da-gaby.jpg) no-repeat center / cover;
}

.perrengue
{
    background: url(../images/emBreve/perrengue-fashion.jpg) no-repeat center / cover;
}

.tron
{
    background: url(../images/emBreve/tron-ares.jpg) no-repeat center / cover;
}

.telefone-preto-2
{
    background: url(../images/emBreve/o-telefone-preto-2.jpg) no-repeat center / cover;
}

.mk-2
{
    background: url(../images/emBreve/mortal-kombat-2.jpg) no-repeat center / cover;
}

.estreia, .data
{
    position: relative;
}

.estreia::after
{
    content: '★ Estreia';
    background-color: var(--accent-color-2);
    padding: calc(var(--gap) / 2);
    border-radius: inherit;
    color: var(--black);
    position: absolute;
    left: 0;
    top: 0;
}

.data::after
{
    content: attr(data-lancamento);
    background-color: var(--accent-color-2);
    padding: calc(var(--gap) / 1.5);
    border-radius: inherit;
    color: var(--black);
    position: absolute;
    right: var(--gap);
    top: var(--gap);

    font-size: 0.8rem;

    z-index: 1;
}

#em-breve:target
{
    visibility: visible;
    opacity: 1;
}

.cartaz:has(#em-breve:target) .em-cartaz
{
    opacity: 0;
    visibility: hidden;
}

.cartaz:has(#em-breve:target) .eC
{
    --sect-colors: transparent;
    color: var(--black);
}

.cartaz:has(#em-breve:target) .eB
{
    --sect-colors: var(--accent-color-2);
    color: var(--white);
}

.aproveite
{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-inline: var(--padding-inline);
    margin-bottom: calc(var(--gap) * 4);
}

.aproveite h3
{
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: var(--bold);
}

.container_images
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--gap) * 1.5);
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--white);
    padding: calc(var(--gap) * 3) var(--padding-inline);
    gap: calc(var(--gap) * 3);

    --gap-block: calc(var(--gap) * 2);
}

footer hr
{
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

.products
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-block);

    font-size: 0.9rem;
}

.container_product
{
    display: flex;
    flex-direction: column;
    gap: var(--gap-block);
}

.container_product h3
{
    font-size: 1rem;
    font-weight: var(--bold);
}

.wrapper_list
{
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
}

.wrapper_list a:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.copy
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy p
{
    font-size: 0.65rem;
    font-weight: var(--bold);
}

.dev
{
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);
}

@media only screen and (max-width: 1280px)
{
    :root
    {
        --padding-inline: 2%;
    }

    .nav_logo
    {
        height: auto;
        flex-direction: column;
        padding-block: var(--gap);
        gap: var(--gap);
    }

    .container_form_nav
    {
        flex-direction: column;
        width: 100%;
        gap: var(--gap);
    }

    .wrapper_drop, .wrapper_drop select
    {
        width: 100%;
    }

    .wrapper_drop select
    {
        height: var(--max-height);
    }

    .button_form_nav
    {
        width: 100%;
    }

    .menu
    {
        display: block;
    }

    .menu_x
    {
        display: none;
    }

    .menu_sect:target
    {
        grid-template-rows: 1fr;
        visibility: visible;
    }

    body:has(#menu:target) .menu
    {
        display: none;
    }

    body:has(#menu:target) .menu_x
    {
        display: block;
    }

    nav
    {
        display: none;
    }

    .hero
    {
        height: auto;
        aspect-ratio: 16 / 8;
    }

    .esconde_no_cel
    {
        display: none;
    }

    .em-cartaz, .em-breve
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .container_images
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .copy
    {
        flex-direction: column;
        gap: var(--gap-block);
    }
}